/* Body */
body {
    margin: 0%;
}
/* Navbar */
.Navbar {
    overflow: hidden;
    background-color: dimgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Navbar text */
.Navbar a {
    float: left;
    display: block;
    color: snow;
    padding: 14px 16px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 22px;
    text-align: center;
}

/* Navbar hover effect */
.Navbar a:hover {
    background-color: snow;
    color: midnightblue;
    font-weight: bold;
}

/* Navbar home button */
.Navbar a.active {
    background-color: tomato;
}

/* Video */
#Back_Video {
    position: fixed;
    right: 0;
    bottom: -150px;
    min-width: 100%;
    z-index: -1;
}

/* Text over video */
.Video_Text {
    background: rgba(0 ,0 ,0 , 0.5);
    color: snow;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
}

/* Table- The columns and rows within the table */
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 420px;
    background-color: snow;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 420px;
    background-color: cadetblue;
}

.Column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px;
    background-color: cadetblue;
}

.Row:after {
    content:"";
    display: table;
    clear: both;
}
/* H1 elements */

h1 {
    text-transform: uppercase;
    font-family: helvetica;
    text-align: center;
    margin-top: 3%;
    color: sienna;
}

/* P elements */
p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Center align elements */
center {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Anchor Elements */
a {
    color: slateblue;
}

/*quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}

/* Image elements */
img {
    filter: sepia(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Contact form */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: helvetica;
}

/* Submit button */
input[type=submit] {
    background-color: snow;
    color: sienna;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
    font-size: 22px;
}

/* Hover effect for submit */
input[type=submit]:hover {
    background-color: tomato;
    color: snow;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 1.5s;
}

/* Form element */
form {
    border-radius: 5px;
    background-color: snow;
    padding: 20px;
    font-family: helvetica;
}

/* center align element hover effect */
center:hover {
    transition: transform 2s;
    transform: scale (1.1);
}

/* paragraph element hover effect */
p:hover {
    color: midnightblue;
    transition: transform 1s;
    transform: scale(1.01);
}

/* H1 element hover effect */
h1:hover {
    color: tomato;
    font-weight: normal;
}

/* Image element hover effect */
img:hover {
    filter: sepia(5%);
    transition: transform 1s;
    transform: scale(1.03);
}

/* footer element */
footer {
    padding: 2%;
    background-color: blanchedalmond;
}
